*~
*.o
*.la
*.lo
*.log
*.trs
.deps
.libs
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/src/avahi-test
/src/nss-test
/stamp-h1
/test-driver
/tests/check_util