*~
*.o
*.la
*.lo
Makefile
Makefile.in
/README
/doc/README
/doc/README.html
/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/src/.deps
/src/.libs
/src/avahi-test
/src/nss-test
/stamp-h1
